
@keyframes rattle {
    0% { transform: translate(0, 0); }
    10% { transform: translate(-2px, 2px); }
    20% { transform: translate(2px, -2px); }
    30% { transform: translate(-2px, 2px); }
    40% { transform: translate(2px, -2px); }
    50% { transform: translate(-2px, 2px); }
    60% { transform: translate(2px, -2px); }
    70% { transform: translate(-2px, 2px); }
    80% { transform: translate(2px, -2px); }
    90% { transform: translate(-2px, 2px); }
    100% { transform: translate(0, 0); }
  }
  
  /* reset */
  button,
  fieldset,
  input {
    all: unset;
  }
  
  /* .PopoverContent {
    border-radius: 4px;
    background-color: white;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
  }
  .PopoverContent:focus {
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px,
      0 0 0 2px var(--violet-7);
  } */
  .popover-content[data-state='open'][data-side='top'] {
    animation-name: slideDownAndFade;
  }
  .popover-content[data-state='open'][data-side='right'] {
    animation-name: slideLeftAndFade;
  }
  .popover-content[data-state='open'][data-side='bottom'] {
    animation-name: slideUpAndFade;
  }
  .popover-content[data-state='open'][data-side='left'] {
    animation-name: slideRightAndFade;
  }
  
  
  /* .PopoverClose {
    font-family: inherit;
    border-radius: 100%;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--violet-11);
    
  }
  .PopoverClose:hover {
    background-color: var(--violet-4);
  }
  .PopoverClose:focus {
    box-shadow: 0 0 0 2px var(--violet-7);
  }
   */
  /* .IconButton {
    font-family: inherit;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;

  }
  .IconButton:hover {
    background-color: var(--violet-3);
  }
  .IconButton:focus {
    box-shadow: 0 0 0 2px black;
  } */
  
  
  
  
  @keyframes slideUpAndFade {
    from {
      opacity: 0;
      transform: translateY(2px);
    }
    to {
      opacity: 1;
      transform: translateY(200);
    }
  }
  
  @keyframes slideRightAndFade {
    from {
      opacity: 0;
      transform: translateX(-2px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideDownAndFade {
    from {
      opacity: 0;
      transform: translateY(-2px);
    }
    to {
      opacity: 1;
      transform: translateY(500px);
    }
  }
  
  @keyframes slideLeftAndFade {
    from {
      opacity: 0;
      transform: translateX(2px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
